.body{
    background-image: url(bg_img.webp);
}

.main{
    background-color: white;  
    height: 560px;
    width: 700px;
    margin-left: 400px;
    margin-top: 90px;
    border-radius: 4px;
}

.top{


}

.title{
    text-align: center;
    color: red;
    font-size: 58px;
}

.sub_title{
    text-align: center;
    font-weight: bold;
}

.left{
    float: left;
    margin-left: 30px;
    width: 44%;
    
}

.right{
    float:right;
    margin-right: 30px;
    width: 44%;
    border-left: 1px solid rgb(189, 189, 189);
    padding-left: 10px;
}

.button{
    width: 100%;
    height: 46px;
    text-align: left;
    background: white;
    border: 1px solid rgb(210, 210, 210);
}

.button:hover{
    background: rgb(226, 226, 226);
}

.signup{
    font-weight: bold;
    border: 0px solid;
    border-radius: 40px;
    width: 100%;
    height: 26px;
    background: white;
    font-size: 11px;
}

.signup:hover{
    background: rgb(226, 226, 226);
}


.login_top{
    border-bottom: 1px solid rgb(210, 210, 210);
}

.input{
    width: 100%;
    height: 46px;
    border: 1px solid rgb(210, 210, 210);
    padding-left: 8px;
}

.label{
    font-weight: bold;
    font-size: 12px;
}

.right_bottom{
    margin-top: 20px;
}


.right_bottom_left{
    float:left;
}

.right_bottom_right{
    float: right;
}

.login{
    background: rgb(154, 154, 229);
    border: 1px solid;
    border-radius: 40px;
    height: 40px;
    width: 80px;
    color: white;
    font-weight: bold;
}

.forgot{
    color: grey;
    font-size: 12px;
    text-decoration: none;
}


.bottom{
    border-top: 1px solid rgb(210, 210, 210);;
    margin-top: 330px;
    text-align: center;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

.bottom_bottom{

    background-color: rgb(235, 235, 235);
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.bottom_link{
    color:grey;
    font-size: 12px;
}


