*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.header{
    background-color: black;
    text-align: center;
    padding: 20px;
    
}
.screen{
    color: white;
}
.rant{
    color: yellow;
}

.nav{
    border-top: 1px solid rgb(184, 184, 184);
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
 
.nav li{
    display: inline;
}

.main{
    padding: 40px;
    background-color: rgb(28, 28, 28);
    height: 700px;
}

.left{
    float: left;
    background-image: url(star_trek.jpg);
    height: 360px;
    width: 500px;
}

.right{
    float: right;
    margin-right: 20px;
}

.right_up_left{
    float: left;
    background-image: url(star_trek.jpg);
    height: 200px;
    width: 260px;
    padding-right: 20px;

}

.right_up_right{
    float: right;
    height: 200px;

    background-image: url(star_trek.jpg);
    height: 200px;
    width: 260px;
    
}

.right_down_left{
    float: left;
    background-image: url(star_trek.jpg);
    height: 200px;
    width: 260px;
    padding-right: 20px;

}

.right_down_right{
    float: right;
    height: 200px;

    background-image: url(star_trek.jpg);
    height: 200px;
    width: 260px;
    
}
  