*{
    margin:0;
    padding: 0;
    font-family: system-ui;
    text-decoration: none;

}

header{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.header_contents{
    margin-left: 80px;
}

.screen{
    color:white;
    font-size: 42px;
    font-weight: bold;
    margin-left: 460px;
}

.rant{
    color:yellow;
    font-size: 42px;
    font-weight: bold;
}

.newsletter{
    color:white
}

nav{
    color:white;
    background-color: black;
    text-align: center;
    padding: 8px;
}

/* ul.a{
    list-style: circle;

} */

nav li{
    display: inline;
    
}

nav li a{
    color:white;
   
}

nav li a:hover{
    color:yellow;
    text-decoration: underline;
}

.main_content{
    background-color: rgb(40, 40, 40);
    height: 1000px;
}

.posters{
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 40px;
    
}

.left{
    float: left;
    width: 38%;
    height: 380px;
    background-image: url(star_trek.jpg);
    /* box-shadow: 0px 1px 0px 0px white; */
}

.right{
    float:right;
    width: 60%;
    height: 380px;
}



.up_left{
    float:left;
    background-image: url(star_trek.jpg);
    width: 49%;
    height: 180px;

}

.up_right{
    float:right;
    background-image: url(star_trek.jpg);
    width: 49%;
    height: 180px;

}



.down_left{
    float:left;
    margin-top: 21px;
    background-image: url(star_trek.jpg);
    width: 49%;
    height: 180px;

}

.down_right{
    float:right;
    margin-top: 21px;
    background-image: url(star_trek.jpg);
    width: 49%;
    height: 180px;

}

.poster_text_title{
    color: yellow;

    font-size: 18px;

}

.poster_text_big{
    color: white;
    font-weight: bold;
    font-size: 24px;


}

.text{
    margin-top: 220px;
    padding: 20px;
}

.title_text{
    color: white;
    
}

.title_text:hover{
    text-decoration: underline;
}



